<p id="notice"><%= notice %></p>

<h1>
  <!-- <strong>Name:</strong> -->
  <%= @brand.name %>
</h1>

<p>
  <!-- <strong>Logo:</strong> -->
  <%= @brand.logo %>
  <%= image_tag @brand.logos %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>

<hr>

<%#= render 'sneakers/index' %>

<% @sneakers.each do |sneaker| %>
  <%= render 'sneakers/show', sneaker: sneaker %>
<% end %>

<%= render 'sneakers/form', sneaker: Sneaker.new %>
